:root{
    --wht:#fff;
    --bk:#000;
    --darkgray:#444444;
    --lightgray:#e0e0e086;
    --green:#357139;
    --lightgreen:#b7d2b89a;
}

body {
    font-family: "Pretendard", sans-serif;
    font-size: 16px;
    -webkit-tap-highlight-color: transparent;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(97, 97, 97, 0.3),rgba(97, 97, 97, 0.1)),
    url(../images/banner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.logo{
    text-decoration: none;
    color: var(--darkgray);
    font-size: 1.813rem;
    font-weight: 800;
}

.logo:hover{
    color: var(--wht);
    transition: 0.5s;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 0.5rem 0.75rem;
    position: relative;
}

.nav-links ul li a{
    color: var(--darkgray);
    text-decoration: none;
}

.nav-links ul li::after{
    content:'';
    width: 0%;
    height: 0.125rem;
    background: var(--green);
    display: block;
    margin: auto;
    transition: 0.3s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: var(--darkgray);
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
    font-size: 3.75rem;
    font-weight: 700;
}

.text-box p{
    margin: 1.875rem 0 4rem;
    font-size: 0.875rem;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    color: var(--darkgray);
    border: 1px solid var(--green);
    padding: 0.875rem 2.125rem;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid var(--wht);
    background-color: var(--wht);
    color: var(--green);
    transition: 1s;
}

nav .fa-solid {
    display: none;
}

nav .fa-xmark{
    color: var(--wht);
}

nav .fa-bars{
    color: var(--darkgray);
}


@media screen and (max-width:740px){
    .text-box h1{
        font-size: 1.536rem;
    }
    .nav-links ul li{
        display: block;
        padding: 2rem;
    }

    .nav-links ul li a{
        color:var(--wht);
    }

    .nav-links{
        position: fixed;
        background: var(--green);
        height: 100vh;
        width: 12.5rem;
        top:0;
        right: -12.5rem;
        text-align: left;
        z-index: 2;
        transition: 0.5s;
    }

    nav .fa-solid{
        display: block;
        margin: 0.625rem;
        font-size: 1.375rem;
        cursor: pointer;
    }

    .nav-links ul{
        padding: 1.875rem;
    }

    
}


/* ----course---- */

.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 6.25rem;
}

.course h1{
    font-size: 2.25rem;
    font-weight: 700;
}

.course p{
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.375rem;
    padding: 0.625rem;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.course-col{
    flex-basis: 31%;
    background: var(--lightgreen);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 1.25rem 0.75rem;
    box-sizing: border-box;
}

.course-col h3{
    font-size: 1.5rem;
    text-align: center;
    margin: 0.625rem 0;
}

.course-col:hover{
    box-shadow: 0 0 1.25rem 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

@media screen and (max-width:740px) {
    .row{
        flex-direction: column;
    }
    
}


/* ----campus---- */

.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 6.25rem;
}

.campus h1{
    font-size: 2.25rem;
    font-weight: 700;
}

.campus-col{
    flex-basis: 32%;
    border-radius: 0.625rem;
    margin-bottom: 1.875rem;
    position: relative;
    overflow: hidden;
}

.campus-col img{
    width: 100%;
    display: block;
}

.campus p{
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.375rem;
    padding: 0.625rem;
}

.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover{
    background: rgba(0, 49, 6, 0.7);
}

.layer h3{
    width: 100%;
    font-weight: 500;
    color: var(--wht);
    font-size: 1.625rem;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}


/* ----facilities---- */

.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 6.25rem;
}

.facilities h1{
    font-size: 2.25rem;
    font-weight: 700;
}

.facilities p{
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.375rem;
    padding: 0.625rem;
}

.facilites-col{
    flex-basis: 31%;
    border-radius: 0.625rem;
    margin-bottom: 5%;
    text-align: left;
}

.facilites-col img{
    width: 100%;
    display: block;
    border-radius: 1.625rem;
}

.facilites-col p{
    padding: 0;
}

.facilites-col h3{
    margin-top: 1rem;
    margin-bottom: 0.938rem;
    text-align: left;
}


/* ----testimonials---- */

.testimonials{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 6.25rem;
}

.testimonials h1{
    font-size: 2.25rem;
    font-weight: 700;
}

.testimonials p{
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.375rem;
    padding: 0.625rem;
}

.tesimonimal-col{
    flex-basis: 44%;
    border-radius: 0.625rem;
    margin-bottom: 5%;
    text-align: left;
    background: var(--lightgreen);
    padding: 1.563rem;
    cursor: pointer;
    display: flex;
}

.tesimonimal-col img{
    height: 3.125rem;
    margin-left: 0.313rem;
    margin-right: 1.875rem;
    outline: 0.156rem solid var(--green);
    border-radius: 50%;
}

.tesimonimal-col p{
    padding: 0;
}

.tesimonimal-col h3{
    margin-top: 0.938rem;
    text-align: left;
}

.tesimonimal-col .fa{
    color: var(--green);
}

@media screen and (max-width:740px) {
    .tesimonimal-col img{
        margin-left: 0rem;
        margin-right: 0.938rem;
    }
}


/* ----CTA---- */
.cta{
    margin: 6.25rem auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7))
    ,url(../images/banner2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 0.625rem;
    text-align: center;
    padding: 6.25rem 0; 
}

.cta h1{
    margin-bottom: 2.5rem;
    padding: 0;
    font-size: 2.25rem;
    font-weight: 700;
    color: var(--wht);
}

.hero-btn2{
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    color: var(--wht);
    border: 1px solid var(--lightgreen);
    padding: 0.875rem 2.125rem;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn2:hover{
    border: 1px solid var(--wht);
    color: var(--green);
    background-color: var(--wht);
    transition: 1s;
}


@media screen and (max-width:740px){
    .cta h1{
        font-size: 1.5rem;
    }
}


/* -----------footer-------------- */

.footer{
    width: 100%;
    text-align: center;
    padding: 1.875rem 0;
}

.footer h4{
    margin-bottom: 1.563rem;
    margin-top: 1.25rem;
    font-weight: 700;
}

.footer p{
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.375rem;
    padding: 0.625rem;
}

.icons .fa{
    color: var(--green);
    margin: 0 0.813rem;
    cursor: pointer;
    padding: 1.125rem 0;
}

.fa-heart{
    color: var(--lightgreen);
}



/* ----about us page---- */

.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(40, 40, 40, 0.3),rgba(40, 40, 40, 0.7))
    ,url(../images/background.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: var(--wht);
}

.sub-header h1{
    font-size: 3rem;
    font-weight: 700;
    margin-top: 6.25rem;
}

.about-us{
    width: 80%;
    margin: auto;
    padding-top: 5rem;
    padding-bottom: 3.125rem;
}

.about-col{
    flex-basis: 48%;
    padding: 1.875rem 0.125rem;
}

.about-col img{
    width: 100%;
}

.about-col h1{
    margin-bottom: 2.5rem;
    padding-top: 0;
    font-size: 2.25rem;
    font-weight: 700;
}

.about-col p{
    padding: 0.938rem 0 1.563rem;
    font-weight: 300;
    line-height: 2rem;
}

.hero-btn3{
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    color: var(--green);
    border: 1px solid var(--green);
    padding: 0.875rem 2.125rem;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn3:hover{
    border: 1px solid var(--green);
    color: var(--wht);
    background-color: var(--green);
    transition: 1s;
}

@media screen and (max-width:740px){
    .about-col .hero-btn3{
        display: block;
        text-align: center;
    }
}


/* ----blog-content---- */

.blog-content{
    width: 80%;
    margin: auto;
    padding: 3.75rem 0;
}

.blog-left{
    flex-basis: 65%;
}

.blog-left img{
    width: 100%;
}

.blog-left h2{
    color: var(--darkgray);
    font-weight: 600;
    margin: 1.875rem 0;
}

.blog-left p{
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.375rem;
    padding: 0.625rem;
}

.blog-right{
    flex-basis: 32%;
}

.blog-right h3{
    background: var(--green);
    color: var(--wht);
    padding: 0.625rem 0;
    font-size: 1rem;
    margin-bottom: 1.25rem;
    text-align: center;
}

.blog-right div{
    display: flex;
    align-content: center;
    justify-content: space-between;
    color: var(--bk);
    padding: 0.5rem;
    box-sizing: border-box;
}

.commet-box{
    border: 1px solid var(--darkgray);
    margin: 3.125rem 0;
    padding: 0.625rem 1.25rem;
}

.commet-boxh3{
    text-align: left;
}

.comment-form input, .comment-form textarea{
    width: 100%;
    padding: 0.625rem;
    margin: 0.938rem 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: var(--lightgreen);
}

.comment-form button{
    margin: 1.25rem 0;
}

@media screen and (max-width:740px){
    .sub-header h1{
        font-size: 1.625rem;
    }
}

/* ----contact us---- */

.location{
    width: 80%;
    margin: auto;
    padding: 5rem 0;
}

.location iframe{
    width: 100%;
}

.contact-us{
    width: 80%;
    margin: auto;
}

.contact-col{
    flex-basis: 48%;
    margin-bottom: 1.875rem;
}

.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
}

.contact-col div .fa-solid{
    font-size: 1.75rem;
    color: var(--green);
    margin: 0.625rem;
    margin-right: 1.875rem;
}


.contact-col div p{
    padding: 0;
    font-size: 1rem;
    font-weight: 300;
}

.contact-col div h5{
    font-size: 1.25rem;
    margin-top: 0.188rem;
    margin-bottom: 1rem;
    color: var(--darkgray);
    font-weight: 500;
}

.contact-col input, .contact-col textarea{
    width: 100%;
    padding: 0.938rem;
    margin-bottom: 1.063rem;
    outline: none;
    border: 1px solid var(--darkgray);
    box-sizing: border-box;
}
